{% extends 'base.html' %}
{% block title %}Über uns - IT-Praktika{% endblock %}
{% block content %}
<h2>Über uns</h2>
<p>Als angehende Informatiker der Benedict Schule Luzern suchen wir ein 18-monatiges Praktikum, um die nötige Praxiserfahrung zu machen, die eine Ausbildung als Informatiker vorsieht.</p>
<p>Unsere Ausbildung ist eine schulisch orientierte Informatiklehre. Alle Absolventen erhalten am Schluss ihrer Ausbildung ein eidgenössisches Fähigkeitszeugnis.</p>
<p>Die ersten 4 Semester basieren nur auf schulischem Unterricht. Dort erwerben wir erste Fähigkeiten und lernen, Projekte zu planen, zu dokumentieren und im Team durchzuführen.</p>
<p>Im Anschluss folgt das Praktikum, in dem wir unser Wissen in der Praxis einsetzen und vertiefen können.</p>
{% endblock %}
