{% extends 'base.html' %}
{% block title %}Impressum - IT-Praktika{% endblock %}
{% block content %}
<div class="px-4 px-md-5 py-5">
    <h2 class="mb-4">Impressum</h2>
    <div class="mb-4">
        <strong>Benedict-Schule Luzern AG</strong><br>
        Informatik Praktikum<br>
        Inseliquai 12B<br>
        6005 Luzern<br>
        Schweiz
    </div>
    <div class="mb-3">
        <strong>Vertretungsberechtigte Person:</strong><br>
        Daniel Raggi, Schulleiter
    </div>
    <div class="mb-3">
        <strong>Haftungsausschluss:</strong><br>
        Der Autor übernimmt keinerlei Gewähr hinsichtlich der inhaltlichen Richtigkeit, Genauigkeit, Aktualität, Zuverlässigkeit und Vollständigkeit der Informationen. Haftungsansprüche gegen den Autor wegen Schäden materieller oder immaterieller Art, welche aus dem Zugriff oder der Nutzung bzw. Nichtnutzung der veröffentlichten Informationen, durch Missbrauch der Verbindung oder durch technische Störungen entstanden sind, werden ausgeschlossen.
    </div>
</div>
{% endblock %}
