{% extends 'base.html' %}
{% block title %}Schule - IT-Praktika{% endblock %}
{% block content %}
<h2>Benedict-Schule Luzern</h2>
<p>Im Jahre 1928 eröffnete Dr. Gaston Benedict – Schweizer Sprachwissenschafter und ehemaliger Professor an der University of Southern California – in Lausanne die erste Benedict-Schule. Moderne Unterrichtsmethoden, qualifizierte Lehrkräfte und aktuelles Lehrmaterial begründen den ausgezeichneten Ruf der Benedict-Schulen.</p>
<p>Die weite Verbreitung der Benedict-Schulen gewährleistet, dass ihre Diplome und Zeugnisse nicht nur lokalen Charakter haben, sondern internationales Ansehen genießen.</p>
{% endblock %}
