{% extends 'base.html' %}
{% block title %}Praktikanten - IT-Praktika{% endblock %}
{% block content %}
<h2>Praktikanten</h2>
<p>Die Lehrlinge der Benedict Schule Luzern sind hochmotiviert, wissbegierig und haben bereits in den ersten beiden Lehrjahren ein fundiertes Grundwissen in der Softwareentwicklung, Datenbankanbindung, Netzwerktechnik und Systemtechnik erworben.</p>
<p>Unsere Klasse besteht aus vielen unterschiedlichen Persönlichkeiten – vom App-Entwickler über den Datenbank-Spezialisten bis zum Web-Profi ist alles dabei. Gemeinsames Ziel ist, im Praktikum unser Können in echten IT-Projekten unter Beweis zu stellen.</p>
{% endblock %}
